/*Paars #5722CD;
Blauw #4845E4;
Roze #ED4385;
Zwart #0C0C0C (voor standaard tekst);
Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:
Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)
Grijs #7A7A7A (voor de service-tegel tekst);*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');
/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*border: 1px solid red;*/
    /*max-width: 1800px;*/
}
/* ------------------------------- 2. Typography ----------------------------------- */
body {
    font-family: 'Roboto', sans-serif;
}

h1, h3{
    font-family: 'Merriweather', serif;
    text-align: center;
}

h3 {
    font-size: 1.5em;
}

/* ------------------------------- 3. Layout --------------------------------------- */
.menu--link {
    text-transform: uppercase;
    font-size: 0.8em;
    color: #5722CD;
}

.wormline {
    width: 45px;
    position: absolute;
    top: 103%;
    left: 46%;
}

.wormline--horizontal {
    width: 45px;
}

/* --------------- 3.1 Reusables ----------------------- */
.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-container {
    flex: 0 1 1400px;
    display: flex;
    flex-direction: column;

    /*margin: 0 20px;*/
}
/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
#hdr-mn {
    background: rgb(87,34,205);
    background: linear-gradient(90deg, rgba(87,34,205,1) 4%, rgba(72,69,228,1) 78%);
    color: ghostwhite;
    padding-bottom: 60px;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

#navbar ul {
    display: flex;
    list-style: none;
}

#navbar ul li {
    padding: 0 15px;
}

#hdr-txt {
    align-items: center;
    padding: 30px;
    flex: 0 1 700px;
    position: relative;
}

#hdr-txt p {
    padding: 10px 0;
}

#hdr-btn {
    margin: 20px 0;
    padding: 10px;
    border-radius: 20px;
    background-color: #ED4385;
    color: ghostwhite;
    text-transform: uppercase;
    font-size: .7em;
}
/* --------------- 4.2 Introduction ------------------- */
#intr__txt {
    padding: 30px;
    align-items: center;
    text-align: center;
    flex: 0 1 500px;
    font-family: 'Merriweather', serif;
}

#intr__txt p {
    padding: 10px 0;
    color: #5722CD;
}

 .inner-container #intr__q {
    font-size: 0.8em;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    color: black;
}

/* --------------- 4.3 Work ------------------- */
img {
    width: 100%;
}

.image-wrapper {
    padding: 20px;
    max-width: 600px;
    flex: 0 1 50%;
}

.poging {
    margin: 20px;
    max-width: 300px;
    justify-content: space-evenly;
    align-items: center;
    flex: 0 0 50%;
    font-size: .8em;
    text-align: center;
    /*position: relative;*/
}

.geenidee {
    justify-content: space-evenly;
}

#second--article {
    flex-direction: row-reverse;
}

#snaperniksvan {
    max-width: 600px;
    padding: 0 20px;
}
/* ------------------------------- 5. Media Queries -------------------------------- */