@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

/* ---- 1. Global Styles ---- */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*outline: 1px solid hotpink;*/
}

/* ---- 2. Typography ---- */
 body {
     font-family: 'Roboto', sans-serif;
 }

 h1 {
     font-family: 'Merriweather', serif;
 }

/* ---- 3. Reusables ---- */
.outer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-container {
    flex: 0 1 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 0 10px;
}

/* ---- 4.1 Header ---- */
.header__inner--container {
    align-items: flex-end;
    background: linear-gradient(90deg, rgba(87,34,205,1) 4%, rgba(72,69,228,1) 78%);
    color: ghostwhite;
}

.header__navbar {
    display: flex;
    padding: 15px;
}

.header__list {
    display: flex;
    list-style: none;
}

.header__list--item {
    padding: .5em 1em;
}

.header__hero {
    align-items: center;
    position: relative;
    padding-top: 30PX;
    padding-bottom: 100px;
    text-align: center;
    flex: 0 1 500px;
}

/*.header__title {*/
/*}*/

/*.header__subtitle {*/
/*}*/

.header__btn {
    border-radius: 25px;
    background-color: #ED4385;
    color: ghostwhite;
    font-size: .8em;
    padding: 15px;
    text-transform: uppercase;
    box-shadow: 0 5px 17px -7px rgba(0, 0, 0, 1.2);
    /*margin: 20px 0;*/
}

.header__squiggle {
    width: 45px;
    position: absolute;
    top: 85%;
}

/* ---- 5.1 Section Hello ---- */
.intro__txt {
    padding: 30px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #5722CD;
    flex: 0 1 500px;

}

.intro__link {
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
}

